{% extends 'base.html' %}

{% block content %}
<!--    <h1>{% block title %} {% endblock %}</h1>-->

        <!-- You use this syntax to loop over each item in the posts list that was passed
        by the index() function in the line return render_template('index.html', posts=posts)-->
        {% for post in posts %}
                <a href="{{ url_for('post', post_id=post['id']) }}">
                    <h2>{{ post['title'] }}</h2>
                </a>
                <a href="{{ url_for('edit', id=post['id']) }}">
                            <span class="badge badge-primary">Edit</span>
                        </a>
                <span class="badge badge-primary">{{ post['created'] }}</span>
                <hr>
    {% endfor %}
{% endblock %}